# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Django
*.sqlite3
db.sqlite3
*.log
staticfiles/
media/

# Environment
.env
.env.local
.env.*.local

# Celery
celerybeat-schedule
celerybeat.pid

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
